variable "docker_image_gitea" {
  type = string
  default = "{{ docker_image_gitea }}"
}

variable "docker_image_mysql" {
  type = string
  default = "{{ docker_image_mysql }}"
}

variable "job_name" {
  type = string
  default = "{{ job_name }}"
}

variable "docker_volume_gitea" {
  type = string
  default = "{{ docker_volume_gitea }}"
}

variable "docker_volume_mysql" {
  type = string
  default = "{{ docker_volume_mysql }}"
}

job gitea {
  datacenters = ["dc1"]
  type = "service"

  constraint {
    attribute = "${attr.unique.hostname}"
    operator = "regexp"
    value = "nclient1"
  }

  group "gitea" {
    count = 1

    network {
      port "http" {
        to = "3000"
      }

      port "ssh" {
        to = "22"
      }

      port "mysql" {
        to = "3306"
      }
    }

    service {
      # This tells Consul to monitor the service on the port
      # labelled "http". Since Nomad allocates high dynamic port
      # numbers, we use labels to refer to them.
      port = "http"
      tags = ["web"]
      name = var.job_name

        check {
          type     = "http"
          port     = "http"
          path     = "/login"
          interval = "10s"
          timeout  = "2s"
        }
    }

    service {
      # This tells Consul to monitor the service on the port
      # labelled "http". Since Nomad allocates high dynamic port
      # numbers, we use labels to refer to them.
      port = "ssh"
      tags = ["ssh"]
      name = var.job_name

        check {
          type     = "tcp"
          port     = "ssh"
          interval = "10s"
          timeout  = "2s"
        }
    }

    service {
      # This tells Consul to monitor the service on the port
      # labelled "http". Since Nomad allocates high dynamic port
      # numbers, we use labels to refer to them.
      port = "mysql"
      tags = ["tcp"]
      name = var.job_name
    }

    task "gitea" {
      driver = "docker"

      config {
        image = var.docker_image_gitea
        ports = ["http", "ssh"]
        volumes = [
          "/var/lib/docker/volumes/${var.docker_volume_gitea}/_data:/data",
          ]
      }

      resources {
        cpu    = 500  # CPU resources in MHz
        memory = 1024  # Memory resources in MB
      }

      env {
          USER_UID=1000
          USER_GID=1000
          GITEA__database__DB_TYPE=mysql
          GITEA__database__HOST="mysql.tcp.service.consul"
          GITEA__database__NAME=gitea
          GITEA__database__USER=gitea
          GITEA__database__PASSWD=gitea
      }

      
    }

    task "mysql" {
      driver = "docker"

      config {
        image = var.docker_image_mysql
        ports = ["mysql"]
        volumes = [
          "/var/lib/docker/volumes/${var.docker_volume_mysql}/_data:/var/lib/mysql"
          ]
      }

      resources {
        cpu    = 500  # CPU resources in MHz
        memory = 1024  # Memory resources in MB
      }

      env {
          MYSQL_ROOT_PASSWORD=gitea
          MYSQL_USER=gitea
          MYSQL_PASSWORD=gitea
          MYSQL_DATABASE=gitea
      }

      
    }
  }
}