data_dir  = "/opt/nomad/data"
datacenter = "dc1"
client {
    enabled = true
    servers = [ "{{ nomad_master_ip }}" ]
    cpu_total_compute = 4000
    host_volume "jenkins_home" {
        path      = "/vagrant/volumes/jenkins"
        read_only = false
  }
}